:root {
  font-family: Rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
}

body.menu-open {
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #000;
  text-shadow: -3px 3px 0 rgb(231 254 77), 3px 3px 0 rgb(231 254 77), 3px -3px 0 rgb(231 254 77),
    -3px -3px 0 rgb(231 254 77);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:focus {
  outline: none;
}

a:hover {
  color: rgb(231 254 77);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  text-decoration: none;
}

a[disabled],
a[aria-disabled="true"],
a[href=""],
a[href="#"] {
  color: #000;
  pointer-events: none; 
  cursor: not-allowed; 
}

a:focus-visible {
  outline: none; 
  box-shadow: 0 0 0 2px rgb(231 254 77)
}

a:focus:not(:focus-visible) {
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #fff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}